*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.espaço{
	width: 100%;
	height: 900px;
}

.container{
	width: 100%;
	max-width: 1081px;
	margin: 0 auto;
}

header{
	background-color: #D6D6D6;
	padding: 10px 12%;
}

.logo-1{
	float: left;
	width: 160px;
	height: 60px;
	/*background: linear-gradient(blueviolet,purple);*/
	background-image: url("imagens/logo1.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.logo-2{
	float: right;
	width: 160px;
	height: 60px;
	/*background: linear-gradient(darkred,darkorange);*/
	background-image: url("imagens/logo2.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

section.cover-form{
	width: 100%;
	max-width: 1081px;
	margin: 0 auto;
}

.container-bg{
	height: 600px;
	background-image: url("imagens/bg-form.jpg");
	background-position: center;
	background-size: cover;
}

.form-container{
	float: right;
	width: 400px;
	height: 97%;
	margin-right: 40px;
	background-color: white;
	margin-top: 8px;
	box-shadow: 1px 1px 3px 2px white;
}

.form-container h2{
	font-size: 18px;
	font-weight: normal;
	color: black;
	padding: 30px 15px;
	background-color: rgb(234,236,239);

}

.form-wraper{
	margin-top: 40px;
	margin-left: 25px;
	margin-right: 40px;
}

.form-wraper p{
	font-size: 14px;
	color: #525252;
}

.form-wraper input[type=text],[type=E-mail]{
	 width: 100%;
	 height: 45px;
	 border: 1px solid #ccc;
	 line-height: 45px;
	 padding-left: 10px;
}

.form-wraper input[type=submit]{ /* type subimit tem uma borda por padrao, nao esquece de tirar*/
	background-color: #033C50;
	color: white;
	width: 100%;
	height: 60px;
	font-size: 17px;
	text-align: center;
	margin-top: -10px;
	cursor: pointer;
	text-transform: uppercase; /* faz com q todas as letras fiquem maiuscula*/
	border: 0;
}

.form-wraper:last-child{
	margin-top: 20px;
}

section.chamada{
	width: 100%;
	max-width: 1081px;
	margin: 0 auto;
	text-align: center;
}

.chamada h2{
	font-size: 29px;
	font-weight: normal;
	color: white;
	width: 98%;
	max-width: 700px;
	text-align: center;
	display: inline-block;
	padding-top: 30px;
}

section.chamada .container{
	background-color:#2d4357;
	padding: 40px 0 30px 0;
	width: 100%;
	
}

section.chamada p{
	font-size: 22px;
	color: white;
	display: inline-block;
	width: 98%;
	max-width: 700px;
	text-align: center;
	padding-top: 15px;
}

.flex-mosaico{
	display: flex;
	height: 300px;
}

.item1-mosaico{
	float: left;
	width: 40%;
	padding: 100px 15px;
	font-size: 20px;
	background-color: #586c85;
	color: gold;
	text-align: left;
}

.item2-mosaico{
	float: right;
	background-position: center;
	background-size: cover;
	width: 70%;
}

footer{
	background-color: #ccd8e3;
	width: 100%;
	max-width: 1081px;
	margin: 0 auto;
}

footer h2{
	font-size: 20px;
	padding-top: 70px;
	text-align: center;
}

footer p{
	font-size: 17px;
	margin: 15px;
	padding: 10px;
	text-align: left;
	text-decoration: underline;
}


@media screen and (max-width: 510px){
	header{
		text-align: center;
	}

	.logo-1,.logo-2{
		float: none;
		display: inline-block;
		margin: 10px;
	}
}

@media screen and (max-width: 960px){
	.container-bg{
		text-align: center;
		padding: 40px 0;
		height: auto;
	}

	.form-container{
		width: 96%;
		height: auto;
		max-width: 400px;
		position: static;
		float: none;
		display: inline-block;
	}
}

@media screen and (max-width: 768px){
	.flex-mosaico{
		float: none;
		display: block;
	}

	.item1-mosaico{
		width: 100%;
		text-align: center;
	}

	.item2-mosaico{
		width: 100%;
		padding-top: 80%;
	}
}